:global {
  * {
    padding: 0; margin: 0;
  }
  html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  body {
    width: 100vw;
    height: 100vh;

    max-height: 100vh;
    font-size: 18px;
    font-family: Verdana, sans-serif;
  }

  #root {
    height: 100%;
    width: 100%;
    position: fixed;
  }
}