$baseBackgroundButton: #535456;
$baseBackgroundDark: #333435;
$baseBackground: #31495e;
$baseBackgroundSelect: #DBD011;
$baseBackgroundRed: #582727;
$baseBackgroundGreen: #053f14;
$baseTextColor: #E5E5ED;
$baseTextColorGray: #707072;
$baseTextColorSelect: #000000;
$valueTextColor: #DCCA77;
