@import "src/Colors";

.question {
  padding: 12px 12px;
}

.players {
  padding: 12px 12px;

  overflow-y: scroll;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }

  flex: 0 1 auto;
  min-height: 0;
}

.player {
  background-color: $baseBackgroundButton;

  font-size: 22px;
  margin-bottom: 5px;
  padding: 5px;

  &.selected {
    background-color: $baseBackgroundSelect !important;
    color: $baseTextColorSelect;
  }
}

.rightPanel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.gameScore {
  font-size: 38px;
  font-weight: bold;
}
