@import "src/Colors";

.grid {
  display: grid;
  grid-template-columns: 3fr 1fr 0.7fr;
  grid-auto-rows: 1fr;
  grid-gap: 10px;
  height: 100%;
  width: 100%;
}

.finalQuestionsGrid {
  display: grid;
  grid-template-columns: 3fr 2fr 1fr;
  grid-auto-rows: 1fr;
  grid-gap: 10px;
  height: 100%;
  width: 100%;
}

.cell {
  font-size: 38px;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.question {
  grid-column: 1 / 4;
  margin-bottom: 10px;
  color: $baseTextColor;
}

.answer {
  background-color: $baseBackgroundDark;
  color: $baseTextColorGray;

  &.opened {
    color: $baseTextColor;
  }

  &.active {
    cursor: pointer;
    &:active {
      transform: translateY(5px);
    }
  }

}

.value {
  background-color: $baseBackgroundDark;
  color: $baseTextColorGray;
  font-weight: bold;

  &.opened {
    color: $baseTextColor;
  }
}

.strike {
  background-color: $baseBackgroundDark;
  color: $baseTextColorGray;
  font-weight: bold;
  font-size: 56px;

  &.active {
    background-color: $baseBackgroundRed;
    color: $baseTextColor;
  }
}
