@import "src/Colors";


.media {
  img {
    display: block;
    height: 100%;
    width: 100%;
    max-height: 300px;
    object-fit: contain;
  }

  audio {
    padding: 10px;
    height: 100%;
    min-height: 50px;
    display: block;
  }

  video {
    display: block;
    height: 100%;
    width: 100%;
    max-height: 300px;
  }
}

.type {
  font-size: 40px;
}

.player {
  background-color: $baseBackgroundButton !important;
  min-width: 150px;
  padding: 8px;

  &.selected {
    background-color: $baseBackgroundSelect !important;
    color: $baseTextColorSelect;
  }

  &.active {
    cursor: pointer;
    &:active {
      transform: translateY(5px);
    }
  }
}

.padding {
  padding: 8px;
}

.players {
  >:not(:last-child) {
    margin-bottom: 8px;
  }
}

.bet {
  margin-left: 32px;
  max-width: 200px;
}

.balanceControl {
  padding: 10px;

  .name {
    font-size: 22px;
  }

  .save {
    font-size: 22px;
  }

  >:not(:last-child) {
    margin-bottom: 16px;
  }
}
